.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.prod-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.prod-listing > div {
  padding: 15px;
  max-width: 200px;
  border-radius: 5px;
  margin-bottom: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.prod-listing > div img {
  max-width: 100%;
}

.prod-listing > div h4,
.prod-listing > div h6 {
  margin: 0px;
  color: #000;
  text-decoration: none;
}

