* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: radial-gradient(#fff, #ffd6d6);
}

.main {
    width: 65%;
    margin: 0 auto;
    text-align: center;
}

.container-2 {
    margin: auto;
    max-width: 1300px;
    padding: 0px 25px;
}

.container-2 .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.container-2 .col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 80%;
}

.form-container {
    margin: auto;
    width: 300px;
    height: 400px;
    overflow: hidden;
    padding: 20px 0px;
    position: relative;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}

.form-container span {
    width: 100px;
    cursor: pointer;
    padding: 0 10px;
    font-weight: bold;
    display: inline-block;
}

.form-btn {
    display: inline-block;
}

.form-container form {
    top: 70px;
    padding: 0 20px;
    max-width: 300px;
    position: absolute;
    transition: transform 1s;
}

.col-2 form i {
    font-size: 40px;
    color: #ff523b;
    margin: 20px 0px;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

input:focus, button:focus {
    outline: none;
}

form .btn {
    width: 100%;
    border: none;
    margin: 10px 0;
    padding: 7px 0;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 20px;
    background-color: #ff523b;
    border: 1px solid #ff523b;
}

form .btn:hover {
    color: #ff523b;
    transition: 0.3s;
    background-color: white;
    border: 1px solid #ff523b;
}

#form1 {
    left: -300px;
}

#form2 {
    left: 0px;
}

form a {
    color: gray;
    font-size: 12px;
    margin-bottom: 8px;
}

form .errorMsg, form .successMsg  {
    color: red;
    font-size: 12px;
    font-weight: 600;
}

form .successMsg {
    color: green;
}

#current {
    height: 3px;
    width: 90px;
    border: none;
    margin-top: 8px;
    transition: transform 1s;
    background-color: #ff523b;
    transform: translateX(110px);
}

#h1 {
    font-size: 66px;
    font-weight: 700;
    color: #ff523b;
}

#about {
    font-size: 32px;
    margin: 10px 0 50px 0;
}

@media screen and (max-width: 768px) { 
    #h1 {
        font-size: 45px;
    }
    #about {
        font-size: 24px;
        margin-bottom: 30px;
    }
    .main {
        width: 100%;
    }
}