:root {
  --purple-primary: #564edf;
  --accent-pink: #f44e77;
  --neutral-light: #f0f4ff;
  --lavender-secondary: #6b6d9e;
  --dark-primary: #161950;
  --border-colour: #cad6f1;
}

body {
  margin: 0px;
  padding: 0px;
  color: #fff;
  font-size: 1.2rem;
  font-family: Nunito;
  background-color: var(--neutral-light);
}

h2.secondary-heading {
  margin: 0;
  font-size: 2.3rem;
  color: var(--purple-primary);
}

p {
  line-height: 1.6rem;
}

.card-left p, .chart-right p,
.message-left p {
  color: var(--lavender-secondary);
}

.card-left, .chart-right,
.message-left {
  width: 50%;
}

.header {
  width: 100%;
  padding: 15px 0px;
  background-size: cover;
  background-position-y: 100%;
  background-repeat: no-repeat;
  background-image: url('images/bg.svg');
}

.inner {
  padding: 0 10rem;
}

.mainNav {
  display: flex;
  min-height: 10vh;
  align-items: center;
  justify-content: space-between;
}

.mainNav ul {
  width: 30%;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.mainNav ul li a {
  color: inherit;
  text-decoration: none;
}

.header .header-content {
  display: flex;
  margin-top: 5rem;
  justify-content: space-between;
}

.header-content .left-content h1 {
  margin: 0px;
  font-weight: 700;
  margin-top: 5rem;
  font-size: 3.5rem;
}

.header-content .left-content p {
  margin: 1rem 0 2rem;
}

.mainNav button,
.header-content .left-content button {
  border: none;
  outline: none;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  padding: 1rem 2rem;
  border-radius: 20px;
  font-family: inherit;
  background-color: var(--accent-pink);
}

.header-content .left-content button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-primary);
}

.header-content .left-content button img {
  padding-left: 0.9rem;
}

.header-content .right-content {
  position: relative;
}

.header-content .right-content .gr1 {
  right: 0;
  left: auto;
  bottom: 22%;
  position: absolute;
}

.header-content .right-content .gr2 {
  top: 0;
  right: 0;
  left: auto;
  position: absolute;
}

.header-content .right-content .gr3 {
  left: -15%;
  bottom: 20%;
  right: auto;
  position: absolute;
}

/* Card section */

.card-sec .inner {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10rem;
  justify-content: space-between;
}

.card-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.card-right img {
  width: 75%;
}

/* Charts section */

.charts-sec .inner {
  display: flex;
  flex-wrap: wrap;
  margin-top: 14rem;
  justify-content: space-between;
}

.chart-left {
  width: 40%;
}

.charts-sec .stats {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.charts-sec .stats > div {
  width: 8rem;
  padding: 1.4rem;
  margin-right: 1rem;
  border-radius: 30px;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid var(--border-colour);
}

.charts-sec .stats > div h4 {
  margin: 0;
  font-size: 2rem;
  color: var(--purple-primary);
}

.charts-sec .stats > div p {
  margin: 0;
  color: #000;
  font-size: 1rem;
  font-weight: bold;
}

.chart-left img {
  width: 100%;
  border-radius: 50px;
  box-shadow: 0 25px 50px rgba(22, 25, 79, 0.05);
}

.chart-right button {
  border: none;
  outline: none;
  color: inherit;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  margin-top: 30px;
  position: relative;
  font-size: inherit;
  border-radius: 20px;
  align-items: center;
  padding: 0.9rem 2rem;
  font-family: inherit;
  justify-content: space-between;
  background-color: var(--dark-primary);
}

.chart-right button img:nth-child(1) {
  padding-left: 0.9rem;
}

.chart-right button .blob1 {
  top: -2px;
  right: 0px;
  transition: 0.6s;
  position: absolute;
}

.chart-right button .blob2 {
  left: 0px;
  bottom: -2px;
  transition: 0.6s;
  position: absolute;
}

.chart-right button:hover .blob1 {
  transition: 0.6s;
  transform: translateX(-100px);
}

.chart-right button:hover .blob2 {
  transition: 0.6s;
  transform: translateX(130px);
}


/* Messaging section */

.message-sec .inner {
  display: flex;
  flex-wrap: wrap;
  margin-top: 14rem;
  justify-content: space-between;
}

.message-right {
  width: 40%;
  position: relative;
}

.message-left {
  position: relative;
}

.message-left .users {
  display: flex;
  margin-top: 25px;
}

.message-left .users img {
  cursor: pointer;
  transition: 0.3s;
  margin-right: -22px;
}

.message-left .users img:hover {
  transform: scale(1.2);
}

.message-left .users p {
  margin-left: 35px;
}

.message-right .bgTexture {
  right: 0;
  bottom: 0;
  z-index: -1;
  position: absolute;
}

.message-left .bgTexture {
  top: -40px;
  left: -50px;
  z-index: -1;
  position: absolute;
}

/* Packages */

.packages {
  margin: 14rem 0;
}

.title h3 {
  margin: 0;
  font-size: 2.5rem;
  text-align: center;
  color: var(--accent-pink);
}

.title h3 span {
  color: var(--purple-primary);
}

.title p {
  margin: 5px 0;
  font-weight: 500;
  text-align: center;
  color: var(--lavender-secondary);
}

.cards {
  display: flex;
  justify-content: center;
}

.cards > div {
  width: 35%;
  text-align: center;
  background-color: #fff;
  color: var(--dark-primary);
}